*{
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}
.logo-container {
    display: inline-block;
}


.logo {
    width: 10rem;
    height: auto;
    max-width: 50%;
}


.logo:hover {
    opacity: 0.8;
}

.Pink {
    color: rgb(177, 72, 90);
}
.gold {
    color: goldenrod;
}

body {
    background-color: pink;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
}
a {
    color: rgb(81, 5, 80);
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 0.8rem;
    background-color: #e48db7;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #df8ec8;
    color: white;
    transform: scale(1.1);/
}